# COGS 108 - EDA Checkpoint

# Names

- Raymond Williams
- Jefferson Chen
- Olivia Cai
- Patrick Maloney
- Stanley Pan

# Research Question

How do the various macronutrients (carbs as sugar, protein, fat) primarily consumed by individuals in various countries impact BMI rates in the twenty first century?

## Background and Prior Work

Based on different geographical locations, people have access to different resources, climates, and agricultural commodities. Due to these factors, there are various levels of distinctions in regional diets and their consequent health impacts on their related populations. In past research according to the World Population Review,<a name="cite_ref-1"></a>[<sup>1</sup>](#cite_note-1) the world’s obesity rate has grown dramatically from 13% to 39% worldwide in the past 50 years. The United States has a high rate of obesity compared to other high-income nations, staying in the 12th highest obesity rate worldwide. However, it is difficult to pinpoint which part of the American diet and lifestyle contributes to higher rates of obesity factors. Research on the relationship between obesity and culture, ethnicity, and race has been done by two MDs, Sonia Caprio, and Stephen R. Daniels.<a name="cite_ref-2"></a>[<sup>2</sup>](#cite_note-2) Their research has shown that the obesity rate among children varies between different races. Specifically, Hispanic and Black children have a much higher obesity rate than White children. There’s no obvious biological difference between races that will cause a significantly different obesity rate, which raised their concerns about the food habits in the USA may cause a high obesity rate. Yet, no data is supporting their hypothesis. In a global context, different regional diets are associated with diverse health benefits and drawbacks. Therefore, this proposed study seeks to examine the relationship between regional diets and health metrics such as weight and longevity.  

Previous Work:
Recent research has shown there are “blue zones” where people are known to live longer. Studies have been done in the past regarding BMI and life expectancy comparisons, diet and life expectancy, supplements and bodily function (for example with athletes), etc.
As of lately, evidence leans towards the impact plant-based diets have on our health, as opposed to consuming animal products. Food and living conditions are something that we do not fully know and understand, but progress is being made every day to better our knowledge.


Citations:

1. <a name="cite_note-1"></a> [^](#cite_ref-1) "Obesity Rates by Country 2024." World Population Review, 2024, *World Population Review* https://worldpopulationreview.com/country-rankings/obesity-rates-by-country.birds-arent-real-gen-z-misinformation.html
2. <a name="cite_note-2"></a> [^](#cite_ref-2) Hossain, Parvez, Bisher Kawar, and Meguid El Nahas. "Obesity and Diabetes in the Developing World — A Growing Challenge." New England Journal of Medicine, vol. 356, no. 3, 2007, pp. 213-215. PMC, https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2571048/.
For the PLOS Medicine article:

3. Henriksen, Lena, et al. "Estimating the Global Prevalence of Type 2 Diabetes Using a Bayesian Meta-Regression." PLOS Medicine, vol. 18, no. 6, June 2021, https://journals.plos.org/plosmedicine/article?id=10.1371/journal.pmed.1003889.
For the Healthline article on Blue Zones:

4. Link, Rachael. "What Are Blue Zones?." Healthline, 8 June 2020, https://www.healthline.com/nutrition/blue-zones#TOC_TITLE_HDR_3.
For the first NCBI article:

5. Ruiz, Jonathan, et al. "Public Health Strategies for Preventing and Controlling Overweight and Obesity in School and Worksite Settings." Morbidity and Mortality Weekly Report, vol. 54, no. RR10, Oct. 2005, https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7727853/.
For the second NCBI article:

6. O’Hearn, Michael, et al. "Trends in Diagnoses of HIV Infection in the United States, 2002-2011." Journal of the American Medical Association, vol. 312, no. 4, July 2014, https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8879056/.

# Hypothesis

We believe that diets in regions that have more nutritional variety and lower caloric intake yield a healthier lifestyle, in terms of longevity through life expectancy and mortality rates, and obesity rates measured with BMI. This will be due to having less processed foods more typical in larger countries requiring a larger populace to feed (in turn lowering food quality). We must consider confounding variables that may have an effect to our metrics, such as socioeconomic status, access to healthcare, environmental factors, etc.

# Data

1. The ideal data should should include a large variety of countries that either fairly represent the region, that also includes bonus information such as a generalized region that can represent the countries (e.g. Southeast Asia, Northwest Europe, Central America, etc.). From these regions/countries, we can have specifics in terms of macronutrients and micronutrients, and the main source(s) of those nutrients, providing an answer to the typical diet in that region. Additionally, there will be population-to-nutritional information such as average caloric intake, obesity rate, weight/BMI, life expectancy. As a bonus, there could be additional information such as socioeconomic status and perhaps the percentage of processed foods present in the typical diet in that region.

We intend to combine all these datasets to help measure the effects of macronutrient diet in different countries to an individual's healthiness. Additionally, some of these datasets are used to identify potential confoudnign variables that may influence the results of our studies, promoting extensive research with the goal of understanding the logistics of our question as much as possible.

#### Dataset #1
1. Dataset Name: bmi_country.csv
2. Link to the dataset: https://ncdrisc.org/data-downloads-adiposity.html
3. Number of observations: 16800
4. Number of variables: 34
5. Description (2-5 sentences): This dataset measures the bmi of countries around the world. It includes certain percentiles of BMI, such as the middle 50% or the categories of obesity/malnourished, further separated by gender. There is also measures of years, but we will focus on the 21st century. We will use this dataset to help support our findings as a dependent variable / metric to determine the quality of diet in countries, and the overall "healthiness" of a country.

#### Dataset #2
1. Dataset Name: life_expectancy.csv
2. Link to the dataset: https://data.worldbank.org/indicator/SP.DYN.LE00.IN
3. Number of observations: 270
4. Number of variables: 68
5. Description (2-5 sentences): This dataset measures the average life expectancy of countries around the world, over a period from the 1960s up to the 2020s. As we are studying the 21st century, we cleaned and remove any information to 2000 and fixed the formatting of the columns. We will use this dataset to help support our findings as a dependent variable / metric to determine the quality of diet in countries.

#### Dataset #3
1. Dataset Name: mortality.csv
2. Link to the dataset: https://databank.worldbank.org/indicator/SH.STA.WASH.P5?Id=7f18f0c5&Report_Name=Health&populartype=series
3. Number of observations: 2843
4. Number of variables: 27
5. Description (2-5 sentences): This dataset contains various metrics to measure the mortalities and lives of individuals in different countries throughout the world. Such metrics include Survival to age 65, mortality rates of differnent age groups, and also futher separated by gender. We can use this dataset to have an extensive view of how frequent death is to the country, as a possible reference when considering the country's diet.

#### Dataset #4
1. Dataset Name: daily-per-capita-fat-supply.csv
2. Link to the dataset: https://ourworldindata.org/grapher/daily-per-capita-fat-supply?tab=table
3. Number of observations: 12360
4. Number of variables: 4
5. Description (2-5 sentences): It is a dataset about the average daily per capita dietary fat supply, measured in grams per person per day. It provides the daily per capita fat supply for each country over the period from 1960s to 2020. Using this dataset, we need to clean the rows with all NA values. We can use this dataset later on to determine whether fat is related to health rate by comparing it with dependent variables such as bmi. 

#### Dataset #5
1. Dataset Name: gdp.csv
2. Link to the dataset: https://data.worldbank.org/indicator/NY.GDP.PCAP.CD
3. Number of observations: 270
4. Number of variables: 68
5. Description (2-5 sentences): This dataset measures the GDP per capita of countries around the world, over a period from the 1960s up to the 2020s. As we are studying the 21st century, we cleaned and remove any information to 2000 and fixed the formatting of the columns. We will use this dataset to help support our findings in terms of confounding variables to consider, for the health of an average individual in the country.

In [17]:
# Imports 
# matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import seaborn as sns
sns.set()
sns.set_context('talk')

import warnings
warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", 104)
import patsy
import statsmodels.api as sm
import scipy.stats as stats
from scipy.stats import ttest_ind, chisquare, normaltest
# Note: the statsmodels import may print out a 'FutureWarning'. Thats fine.

### Dataset Cleaning -- bmi_country.csv

In [18]:
bmi = pd.read_csv("./datasets/bmi_country.csv")
print(bmi.shape)

(16800, 34)

In [19]:
# CLEANING UP TABLE
bmi = bmi[bmi['Year'] >= 2000] # updating it so that it is only in 21st century
if 'ISO' in bmi.columns: # deletes NaN column that wasn't used
    del bmi['ISO']
to_remove = ['Africa', 'Asia', 'Europe', 'European Union', 
             'income', 'situations','South America', 'North America',
             'Asia', 'High-income countries', 'Low-income countries',
             'USSR', 'World', 'Oceania', 'demograph', 'poor', 'total',
             'Not classified', 'Least developed countries: UN classification',
             "St. Martin (French part)", "Korea, Dem. People's Rep.", 
             "British Virgin Islands", "Gibraltar", "IBRD only", "IDA blend",
             "IDA", "OECD members", "Other small states"]
bmi = bmi[~bmi['Country/Region/World'].str.contains('|'.join(to_remove), case=False)]
bmi = bmi.reset_index(drop=True)
bmi.shape

(6698, 33)

Next up, standardizing the table, with sex and relevant BMI information

In [20]:
# def standardize_gender(str_in): 
#     try:
#         if pd.notna(str_in):
#             str_in = str_in.lower().strip()

            
#             if 'women' in str_in:
#                 return str_in.replace('women', 'F')
#             elif 'men' in str_in:
#                 return str_in.replace('men', 'M')
#             else:
#                 return np.nan
#         else:
#             return np.nan
#     except Exception as e:
#         print(f"An error occurred: {e}")
#         return np.nan

In [21]:
# bmi['Sex'] = bmi['Sex'].apply(standardize_gender)

In [22]:
# cleans up uncertainty interval, we can add back if needed for EDA but not sure
for col in bmi.columns:
    if 'uncertainty interval' in col:
        del bmi[col]

In [26]:
if 'Sex' in bmi.columns:
    bmi = bmi.drop("Sex", axis=1)
grouped_bmi = bmi.groupby(['Country/Region/World', 'Year']).mean()
mean_only = grouped_bmi.loc[:, grouped_bmi.columns == 'Mean BMI']
mean_only = mean_only.reset_index()
bmi_pivot = mean_only.pivot_table(index=['Country/Region/World'], 
                                columns='Year', 
                                values='Mean BMI')
bmi_pivot.insert(0, 'Series', 'BMI')
bmi_pivot.columns.name = None
bmi_pivot = bmi_pivot.reset_index()
bmi_pivot = bmi_pivot.rename(columns = {'Country/Region/World': 'Country'})
bmi_pivot

,Country,Series,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Afghanistan,BMI,21.768888,21.879588,21.989516,22.097929,22.204329,22.309081,22.412375,22.515290,22.617964,22.721053,22.824260,22.928318,23.033418,23.139556,23.245761,23.352089,23.458295
1,Albania,BMI,25.319307,25.402335,25.489679,25.580572,25.674052,25.769595,25.866958,25.965174,26.063784,26.161852,26.259256,26.356262,26.453114,26.550189,26.647416,26.744745,26.840991
2,Algeria,BMI,24.420678,24.507149,24.590926,24.671953,24.750856,24.827287,24.902384,24.978373,25.057779,25.139452,25.222070,25.304762,25.387334,25.469659,25.551860,25.633331,25.713276
3,American Samoa,BMI,34.340910,34.354131,34.357568,34.353018,34.342368,34.326902,34.307807,34.286698,34.265115,34.243522,34.221837,34.200975,34.181009,34.161714,34.143132,34.125183,34.107793
4,Andorra,BMI,26.839130,26.871161,26.900364,26.926447,26.949103,26.967014,26.980117,26.988269,26.990853,26.987880,26.979015,26.965342,26.948272,26.929531,26.910591,26.892113,26.875028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Venezuela,BMI,26.356032,26.415263,26.468341,26.515218,26.556819,26.592968,26.624234,26.651195,26.674843,26.696424,26.716567,26.736344,26.755202,26.773247,26.790764,26.807804,26.824721
193,Viet Nam,BMI,19.965398,20.057520,20.153666,20.253727,20.358336,20.467886,20.582731,20.702502,20.827282,20.956682,21.090394,21.229374,21.372114,21.516718,21.662940,21.809515,21.955561
194,Yemen,BMI,22.454435,22.555125,22.652831,22.747604,22.839614,22.928787,23.016309,23.104297,23.195578,23.289180,23.384190,23.479915,23.576214,23.672487,23.769256,23.865964,23.962203
195,Zambia,BMI,21.596820,21.650830,21.708928,21.770799,21.835466,21.901171,21.968223,22.035841,22.103482,22.170449,22.236989,22.304066,22.371471,22.439159,22.506934,22.574291,22.641004
196,Zimbabwe,BMI,23.314495,23.351851,23.388749,23.425767,23.463343,23.501212,23.538128,23.574018,23.608340,23.640148,23.670731,23.701657,23.732930,23.764730,23.797661,23.831466,23.866420

In [ ]:
bmi.to_csv('./cleaned_datasets/bmi_country_clean.csv', index=False)

### Dataset Cleaning -- life_expectancy.csv

In [ ]:
life_expectancy = pd.read_csv("./datasets/life_expectancy.csv")
life_expectancy.shape

(270, 68)

In [ ]:
life_expectancy.columns = life_expectancy.iloc[3]        # setting the column names correctly
life_expectancy = life_expectancy.iloc[4:]               # remove extra rows
life_expectancy = life_expectancy.reset_index(drop=True) # Reset the indices
life_expectancy = life_expectancy.dropna(axis=1, how='all')
del life_expectancy['Indicator Code']
del life_expectancy['Indicator Name']
to_remove = ['Africa', 'Asia', 'Europe', 'European Union', 
             'income', 'situations','South America', 'North America',
             'Asia', 'High-income countries', 'Low-income countries',
             'USSR', 'World', 'Oceania', 'demograph', 'poor', 'total',
             'Not classified', 'Least developed countries: UN classification',
             "St. Martin (French part)", "Korea, Dem. People's Rep.", 
             "British Virgin Islands", "Gibraltar", "IBRD only", "IDA blend",
             "IDA", "OECD members", "Other small states"]
life_expectancy = life_expectancy[~life_expectancy['Country Name'].str.contains('|'.join(to_remove), case=False)]
life_expectancy = life_expectancy.reset_index(drop=True)
life_expectancy.columns = life_expectancy.columns.astype(str)
life_expectancy = life_expectancy.filter(regex='^(?!19\d\d).*$').rename(columns=lambda x: str(x.split('.')[0]))
life_expectancy = life_expectancy.drop(['Country Code'], axis=1)
yrs = [int(i) for i in life_expectancy.columns[1:]]
yrs = ['Country'] + yrs

life_expectancy.columns = yrs
life_expectancy = life_expectancy.loc[:, :2016]
life_expectancy.insert(1, "Series", "Life Expectancy (Years)")

In [ ]:
#life_expectancy.head()

,Country,Series,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,Life Expectancy (Years),73.569,73.647,73.726,73.752,73.576,73.811,74.026,74.210,74.147,74.560,75.404,75.465,75.531,75.636,75.601,75.683,75.617
1,Afghanistan,Life Expectancy (Years),55.298,55.798,56.454,57.344,57.944,58.361,58.684,59.111,59.852,60.364,60.851,61.419,61.923,62.417,62.545,62.659,63.136
2,Angola,Life Expectancy (Years),46.024,46.590,47.386,49.617,50.592,51.570,52.369,53.642,54.633,55.752,56.726,57.596,58.623,59.307,60.040,60.655,61.092
3,Albania,Life Expectancy (Years),75.404,75.639,75.890,76.142,76.376,76.621,76.816,77.549,77.653,77.781,77.936,78.092,78.064,78.123,78.407,78.644,78.860
4,Andorra,Life Expectancy (Years),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
life_expectancy.to_csv('./cleaned_datasets/life_expectancy_clean.csv', index=False)

### Dataset Cleaning -- mortality.csv

In [ ]:
mortality = pd.read_csv("./datasets/mortality.csv")
mortality.shape

(2843, 27)

In [ ]:
mortality = mortality.dropna(axis=0, how='all')
mortality = mortality.drop([2841, 2842])
del mortality['Series Code']
mortality = mortality.rename(columns=lambda x: x.split(' [')[0])
del mortality['2022']
to_remove = ['Africa', 'Asia', 'Europe', 'European Union', 
             'income', 'situations','South America', 'North America',
             'Asia', 'High-income countries', 'Low-income countries',
             'USSR', 'World', 'Oceania', 'demograph', 'poor', 'total',
             'Not classified', 'Least developed countries: UN classification',
             "St. Martin (French part)", "Korea, Dem. People's Rep.", 
             "British Virgin Islands", "Gibraltar", "IBRD only", "IDA blend",
             "IDA", "OECD members", "Other small states"]
mortality = mortality[~mortality['Country Name'].str.contains('|'.join(to_remove), case=False)]
mortality = mortality.reset_index(drop=True)

In [ ]:
# mortality.head()

In [ ]:
mortality.to_csv('./cleaned_datasets/mortality_clean.csv', index=False)

### Data Cleaning -- daily-per-capita-fat-supply.csv

In [ ]:
fat_supply = pd.read_csv("./datasets/daily-per-capita-fat-supply.csv")
fat_supply.shape

(12360, 4)

In [ ]:
group_delete_name = ['Africa', 'Asia', 'Europe', 'European Union', 
             'income', 'situations','South America', 'North America',
             'Asia', 'High-income countries', 'Low-income countries',
             'USSR', 'World', 'Oceania', 'demograph', 'poor', 'total',
             'Not classified', 'Least developed countries: UN classification',
             "St. Martin (French part)", "Korea, Dem. People's Rep.", 
             "British Virgin Islands", "Gibraltar", "IBRD only", "IDA blend",
             "IDA", "OECD members", "Other small states"]
def clean_FAO(string):
    if '(FAO)' in string or '(27)' in string:
        return False
    else:
        return True

def clean_former(string):
    if ('(former)' in string):
        return string.replace(' (former)', '')
    elif ('(country)' in string):
        return string.replace(' (country)', '')
    else:
        return string
def clean_others(string):
    if string in group_delete_name:
        return False
    else:
        return True
def clean_code(string):
    if string == np.nan:
        return string.replace(np.nan, 'SDN')
    else:
        return string

fat_supply = fat_supply.dropna(axis=0, how='all')
fat_supply = fat_supply[fat_supply.get('Year') >= 2000]
fat_supply.columns = ['Country', 'Code', 'Year', 'Fat_Per_capita']
fat_supply = fat_supply[fat_supply.get('Country').apply(clean_FAO)]
fat_supply['Country'] = fat_supply['Country'].apply(clean_former)
fat_supply = fat_supply[fat_supply.get('Country').apply(clean_others)]
fat_supply = fat_supply.fillna('SDN')
fat_supply.head()

pivot_df = fat_supply.pivot(index='Country', columns=['Year'], values='Fat_Per_capita')
pivot_df.insert(0, 'series','Fat (g/person/day)')
fat_supply2 = pivot_df

In [ ]:
fat_supply.to_csv('./cleaned_datasets/fat_per_capita_clean.csv', index=False)

### Dataset Cleaning -- gdp.csv

In [ ]:
gdp = pd.read_csv("./datasets/gdp.csv")
gdp.shape

(270, 68)

In [ ]:
gdp.columns = gdp.iloc[3]        # setting the column names correctly
gdp = gdp.iloc[4:]               # remove extra rows
gdp = gdp.reset_index(drop=True) # Reset the indices
gdp = gdp.dropna(axis=1, how='all')
del gdp['Indicator Code']
del gdp['Indicator Name']
to_remove = ['Africa', 'Asia', 'Europe', 'European Union', 
             'income', 'situations','South America', 'North America',
             'Asia', 'High-income countries', 'Low-income countries',
             'USSR', 'World', 'Oceania', 'demograph', 'poor', 'total',
             'Not classified', 'Least developed countries: UN classification',
             "St. Martin (French part)", "Korea, Dem. People's Rep.", 
             "British Virgin Islands", "Gibraltar", "IBRD only", "IDA blend",
             "IDA", "OECD members", "Other small states"]
gdp = gdp[~gdp['Country Name'].str.contains('|'.join(to_remove), case=False)]
gdp = gdp.reset_index(drop=True)

gdp.columns = gdp.columns.astype(str)
gdp = gdp.filter(regex='^(?!19\d\d).*$').rename(columns=lambda x: str(x.split('.')[0]))
#gdp.head()

3,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,21026.167091,20911.192767,21375.269123,22050.589873,24105.524121,24978.221674,25832.925565,27665.299480,29011.639057,25740.770230,24452.588739,26043.156325,25611.175767,26514.868980,26940.264114,28419.264534,28449.712946,29329.081747,30918.483584,31902.809818,24008.127822,29127.759384,33300.838819
1,Afghanistan,AFG,NaN,NaN,182.174037,199.643228,221.830531,254.115274,274.015394,376.318296,382.533804,453.387382,562.499219,608.738856,653.417479,638.733185,626.512930,566.881133,523.053012,526.140801,492.090632,497.741429,512.055098,355.777826,NaN
2,Angola,AGO,556.884244,527.464118,872.657638,982.805590,1254.696126,1900.723816,2597.963585,3121.348735,4081.717497,3123.698898,3586.663680,4608.155166,5083.826851,5061.349240,5011.984412,3217.339244,1809.709377,2439.374441,2540.508878,2191.347764,1450.905112,1927.474078,3000.444231
3,Albania,ALB,1126.683340,1281.659826,1425.124219,1846.120121,2373.581292,2673.787816,2972.743621,3595.038295,4370.539716,4114.134033,4094.349686,4437.141161,4247.631343,4413.063383,4578.633208,3952.803574,4124.055390,4531.032207,5287.660801,5396.214243,5343.037704,6377.203096,6810.114041
4,Andorra,AND,21620.465102,22809.087760,24784.956089,31954.161787,37630.764264,39583.931194,43084.283724,50562.826605,53721.388507,49750.718551,48237.890541,51428.189700,44902.387712,44747.761156,45680.546941,38885.548589,39931.236264,40632.208982,42904.811588,41328.612393,37207.238871,42072.319423,41992.772778

In [ ]:
gdp.to_csv('./cleaned_datasets/gdp_clean.csv', index=False)

### Dataset Cleaning -- Sugar

In [ ]:
# Read Dataset into Notebook
global_diet = pd.read_csv('./datasets/daily-caloric-supply-derived-from-carbohydrates-protein-and-fat.csv')
# global_diet

In [ ]:
# Let's change the column names so that they match some of the other data sets above
global_diet.columns = ['Country', 'Code', 'Year', 'Animal Protein', 'Vegetable Protein', 'Fat', 'Carbs']
# global_diet

In [ ]:
# Now that we have renamed some of the columns we want to just extract carbohydrate consumption as we have info on
# protein and fat consumption.

sugar = global_diet[['Country', 'Code', 'Year', 'Carbs']]
# sugar

In [ ]:
# We now have to deal with the issue of carbs being in kcal and not grams per capita like the other datasets. So we
# convert kcal to grams.

kcal_in_grams = 4.12
sugar['Carbs'] = sugar['Carbs'] / kcal_in_grams
#sugar

           Country Code  Year       Carbs
0      Afghanistan  AFG  1961  574.041456
1      Afghanistan  AFG  1962  555.803325
2      Afghanistan  AFG  1963  505.607112
3      Afghanistan  AFG  1964  561.874248
4      Afghanistan  AFG  1965  560.745340
...            ...  ...   ...         ...
12355     Zimbabwe  ZWE  2016  297.674587
12356     Zimbabwe  ZWE  2017  288.149369
12357     Zimbabwe  ZWE  2018  288.272961
12358     Zimbabwe  ZWE  2019  250.010922
12359     Zimbabwe  ZWE  2020  265.195316

[12360 rows x 4 columns]

In [ ]:
# We can now proceed to take care of any missing values and problematic data points.

sugar['Country'] = sugar['Country'].str.replace(' (FAO)', '', regex = False)
sugar['Country'] = sugar['Country'].str.replace(' (former)', '', regex = False)
sugar['Country'] = sugar['Country'].str.replace(' (country)', '', regex = False)
sugar = sugar[sugar.get('Year') >= 2000]

to_delete = ['Africa', 
             'Asia', 
             'Europe',
             'Americas',
             'High-income countries',
             'Low-income countries',
             'Lower-middle-income countries',
             'North America',
             'South America',
             'Upper-middle-income countries',
             'World',
             'Oceania',
             'European Union (27)',
             'USSR',
             'Western Africa',
             'Western Asia',
             'Western Europe',
             'South-eastern Asia',
             'Southern Africa',
             'Southern Asia',
             'Southern Europe',
             'Small Island Developing States',
             'Northern Africa', 
             'Northern America',
             'Northern Europe',
             'Net Food Importing Developing Countries',
             'Middle Africa',
             'Low Income Food Deficit Countries',
             'Low-income countries', 
             'Lower-middle-income countries',    
             'Least Developed Countries',    
             'Land Locked Developing Countries',     
             'Eastern Africa',       
             'Eastern Asia',       
             'Eastern Europe',      
             'Central America',      
             'Central Asia',     
             'Caribbean', 'Africa', 'Asia', 'Europe', 'European Union', 
             'income', 'situations','South America', 'North America',
             'Asia', 'High-income countries', 'Low-income countries',
             'USSR', 'World', 'Oceania', 'demograph', 'poor', 'total',
             'Not classified', 'Least developed countries: UN classification',
             "St. Martin (French part)", "Korea, Dem. People's Rep.", 
             "British Virgin Islands", "Gibraltar", "IBRD only", "IDA blend",
             "IDA", "OECD members", "Other small states"]

sugar = sugar[~sugar['Country'].isin(to_delete)]


# missingness
sugar_nan = sugar[sugar.isna().any(axis=1)]
sugar_nan

# We don't really need the code column so we will drop it. It serves the same purpose as the Country column anyways

sugar = sugar[['Country', 'Year', 'Carbs']]

# Time to reset index

sugar = sugar.reset_index()
sugar = sugar[['Country', 'Year', 'Carbs']]
sugar

# sugar.pivot(index='Country', columns='Year', values='Carbs')
pivot_df = sugar.groupby(['Country', 'Year'], as_index=False)['Carbs'].sum().pivot(index='Country', columns='Year', values='Carbs')
# pivot_df.assign(blabla = pivot_df['Year'].values)

pivot_df.insert(0, 'Series','Carbs (g/day)')

sugar2 = pivot_df
#sugar2

Year,Series,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Country,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Carbs (g/day),330.079248,340.990388,344.652937,347.845170,354.315049,346.860631,359.919854,378.536456,383.750850,386.383350,402.796408,401.549053,396.941723,405.085316,408.748422,413.687379,403.630583,421.344951,409.748981,402.020316,403.181432
Albania,Carbs (g/day),426.651626,432.942184,442.024709,418.780631,410.967961,430.664005,421.601529,425.852840,436.239005,435.353350,448.754466,456.114660,459.771165,458.669903,446.070825,445.071019,441.257087,437.025752,437.164199,443.819515,448.171311
Algeria,Carbs (g/day),480.074951,487.026699,504.115655,522.904296,519.379854,517.117718,524.581869,527.449879,529.057233,545.695947,521.201772,523.653422,537.712257,534.245995,531.716189,538.322718,530.236214,526.111966,546.416578,555.008665,546.628883
Angola,Carbs (g/day),264.940388,271.541141,285.274078,293.400922,303.795655,308.012354,314.495170,320.443398,328.688180,337.638908,408.089830,415.641990,409.801068,422.167718,412.236238,407.020073,402.309976,402.454272,409.243398,408.598301,404.402524
Antigua and Barbuda,Carbs (g/day),300.072937,289.738180,284.019806,282.820316,291.486723,318.780631,313.223544,326.019757,320.302257,306.408568,293.843204,298.341796,297.501699,305.893495,316.009782,316.142718,322.716262,327.753932,332.789660,333.318107,339.651432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,Carbs (g/day),379.639709,389.548835,335.217840,374.955437,374.058131,391.833932,390.057039,398.251553,415.241772,428.437961,412.200728,402.977330,389.417573,383.847573,391.355704,350.047379,309.769175,341.421044,297.768495,309.826214,334.850680
Vietnam,Carbs (g/day),415.376286,421.666481,429.137621,436.078155,440.295995,427.748835,421.067864,426.583058,433.204951,426.965097,437.341966,438.695194,446.401456,444.041772,452.035558,453.504879,456.356748,458.732209,457.062985,468.562306,470.577961
Yemen,Carbs (g/day),339.689320,338.871286,335.270413,327.142767,326.223447,329.673398,332.373058,340.292524,339.900704,344.690777,369.262403,358.993058,364.692646,356.392451,344.069126,331.253786,314.438495,325.040194,322.646796,331.343083,335.009417
Zambia,Carbs (g/day),345.533228,342.136068,333.981602,341.330340,327.169053,321.151845,321.272524,307.147816,303.260777,308.428010,312.981383,308.478738,310.444563,325.088835,335.937087,335.357379,354.488592,364.415680,366.960680,376.768252,398.577549
Zimbabwe,Carbs (g/day),340.118689,346.487694,345.471869,338.216214,345.156505,337.578641,354.985801,348.594296,338.440364,346.517184,310.451578,307.277233,319.686408,320.193738,309.599830,294.647039,297.674587,288.149369,288.272961,250.010922,265.195316

In [ ]:
# Convert cleaned data to csv
sugar.to_csv('./cleaned_datasets/carbs.csv', index=False)

### Dataset Cleaning -- daily-per-capita-protein-supply.csv

In [ ]:
df = pd.read_csv('./datasets/daily-per-capita-protein-supply.csv')
df.shape

(12360, 4)

In [ ]:
from itertools import count


df.columns = ['Country','Code','Year','Protein']
regions = df[df['Country'].str.contains('(FAO)')]
countries = df[~df['Country'].str.contains('(FAO)')]
countries['Country'] = countries['Country'].str.replace(' (former)', '', regex = False)

to_remove = ['Africa', 'Asia', 'Europe', 'European Union', 
             'income', 'situations','South America', 'North America',
             'Asia', 'High-income countries', 'Low-income countries',
             'USSR', 'World', 'Oceania', 'demograph', 'poor', 'total',
             'Not classified', 'Least developed countries: UN classification',
             "St. Martin (French part)", "Korea, Dem. People's Rep.", 
             "British Virgin Islands", "Gibraltar", "IBRD only", "IDA blend",
             "IDA", "OECD members", "Other small states"]

countries = countries[~countries['Country'].isin(to_remove)]
countries['Country'] = countries['Country'].str.replace(' (country)', '', regex = False)
countries['Country'].unique()

countries = countries[countries['Year'] >= 2000]
countries[countries.isna().any(axis = 1)]

#considering all NaN values come from Sudan's code we can fillna with the sudan country code

countries['Code'] = countries['Code'].fillna('SDN')
countries = countries.reset_index()
countries.drop(columns = 'index')
countries.head()

pivot_df = countries.pivot(index='Country', columns=['Year'], values='Protein')
pivot_df.insert(0, 'series', 'Protein (g/person/day)')
countries2 = pivot_df
countries

      index      Country Code  Year    Protein
0        39  Afghanistan  AFG  2000  55.399883
1        40  Afghanistan  AFG  2001  53.856205
2        41  Afghanistan  AFG  2002  56.405500
3        42  Afghanistan  AFG  2003  55.674060
4        43  Afghanistan  AFG  2004  56.331608
...     ...          ...  ...   ...        ...
3777  12355     Zimbabwe  ZWE  2016  57.227207
3778  12356     Zimbabwe  ZWE  2017  56.179665
3779  12357     Zimbabwe  ZWE  2018  54.926598
3780  12358     Zimbabwe  ZWE  2019  49.979960
3781  12359     Zimbabwe  ZWE  2020  53.078934

[3782 rows x 5 columns]

In [ ]:
countries.to_csv('./cleaned_datasets/protein_per_capita_clean.csv', index=False)

In [ ]:
# Merge all three datasets
# countries, sugar, fat_supply
merged_df = pd.concat([fat_supply, countries, sugar], ignore_index=True)
temp = pd.merge(fat_supply, countries, on = ['Year', 'Country'])
temp = pd.merge(temp, sugar, on = ['Country', 'Year'])
temp.drop(['Code_x', 'Code_y', 'index'], axis = 1, inplace = True)
temp.columns = ['Country', 'Year', 'Fat (g/day)', 'Protein (g/day)', 'Carbs (g/day)']

temp = temp.groupby(['Country', 'Year'], as_index=False)[['Fat (g/day)', 'Protein (g/day)', 'Carbs (g/day)']].sum()
# .pivot(index='Country', columns='Year', values=['Protein', 'Fat_Per_capita', 'Carbs'])
temp

melted_df = temp.melt(id_vars=['Country', 'Year'], var_name='Series', value_name='Value')

# Pivot the melted DataFrame
pivot_df = melted_df.pivot(index=['Country', 'Series'], columns='Year', values='Value').reset_index()
pivot_df = pivot_df.loc[:, :2016]


pivot_df = pd.concat([pivot_df, life_expectancy], ignore_index=True)
pivot_df = pd.concat([pivot_df, bmi_pivot], ignore_index=True)
pivot_df = pivot_df.sort_values(by="Country")
pivot_df = pivot_df.reset_index(drop=True)

pivot_df

NameError: name 'fat_supply' is not defined

In [ ]:
pivot_df.to_csv('./cleaned_datasets/final.csv', index=False)

NameError: name 'pivot_df' is not defined

In [ ]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

#### Data Cleaning:

To preprare our data for cleaning, we first had to consider the format of how the data was presented; as we wanted to do a cross-sectional study in the 21st century, we wanted our information to display the various years from 2000-present with our relevant information (BMI, life expectancy, etc). For the most part, our data was relatively tidy and we just needed to improve the format based on readability and removing extra columns. Additionally, as our study/research question is based on countries, we had to provide a certain filter to remove columns such as regions and other categories. From that point on, we cleaned up the gender and measurements to specify a specific unit, like percent or grams/day.  We tried to make sure to record the most amount of countries per dataset in order to produce a more robust, final dataset.

# Results

## Exploratory Data Analysis

Carry out whatever EDA you need to for your project.  Because every project will be different we can't really give you much of a template at this point. But please make sure you describe the what and why in text here as well as providing interpretation of results and context.

### Section 1 of EDA - please give it a better title than this

Some more words and stuff.  Remember notebooks work best if you interleave the code that generates a result with properly annotate figures and text that puts these results into context.

In [ ]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

### Section 2 of EDA if you need it  - please give it a better title than this

Some more words and stuff.  Remember notebooks work best if you interleave the code that generates a result with properly annotate figures and text that puts these results into context.

In [ ]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION



# Ethics & Privacy

The data collected in this is already publicly available through resources such as Kaggle. There may be issues in terms of representation, if we do not find all countries in a dataset that can give us a proper true answer for what the healthiest diet is, but can be generalized by regions. There should not be biases in the research collected in these databases, but the inference of socioeconomic status in less wealthy countries may produce a prenotion that their diets are inferior to those that are wealthier. To combat these issues, we will ensure to collect a diverse set of data that is most representative of countries/regions while focusing on the nutritional information of a region’s diet.

# Team Expectations


1. Expect to meet at least once a week. If a member cannot make it or it is a busy week, try to have 2 meetings so     that everyone can have a chance to work, or split in random groups

2. Make sure to communicate if people are gonna miss an event

3. Work to each other’s strengths and weaknesses (coding, reports)

4. Resolve any conflicts together as a group, maintain some form of conformity throughout the project

# Project Timeline Proposal

Specify your team's specific project timeline. An example timeline has been provided. Changes the dates, times, names, and details to fit your group's plan.

If you think you will need any special resources or training outside what we have covered in COGS 108 to solve your problem, then your proposal should state these clearly. For example, if you have selected a problem that involves implementing multiple neural networks, please state this so we can make sure you know what you’re doing and so we can point you to resources you will need to implement your project. Note that you are not required to use outside methods.



| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 2/7  |  3 PM | Read & Think about COGS 108 expectations; brainstorm topics/questions  | Discuss and decide on final project topic; discuss hypothesis; begin background research | 
| 2/11  |  1 PM |  Find the proper datasets, do more background research and finish the general layout of the proposal.| Determine which dataset(s) to use and the ethics behind it. Finalize the project proposal. | 
| 2/14  | 6 PM  | Describe the dataset(s) and briefly understand its information. | Discuss Wrangling and possible analytical approaches; Assign group members to lead each specific part  |
| 2/21  | 3 PM  |Completely summarized each dataset, and started to clean the datasets. | Further turns the datasets into a usable format. Summarize the reasons and strategies used to clean the datasets. |
| 2/25  | 1 PM  | Each member finished their cleaning of the datasets. | Complete the summarization of datasets and final check any negligence in cleaning datasets. |
| 2/28  | 3 PM  | Import & Wrangle Data. Brainstorming any potential way to analyze the datasets. | Review/Edit wrangling/EDA; Discuss Analysis Plan |
| 3/1  | 5 PM  | Start meeting with TA during DI every Friday. REPEAT EVERY WEEK | Get feedback and updates for how the project looks and should work. |
| 3/6  | 3 PM  | Each member should finish analyzing most portions of their assigned parts. A brief summary of what they did. | Gather the analyzed results from each person, and discuss if any additional analysis should be done. Make sure the procedures are correct, and start to write summaries. |
| 3/10  | 1 PM  | Complete analysis of the datasets. | Double-check the analysis. Finalizing the summaries. |
| 3/13  | 3 PM  | Brainstorm on how to put everything together | Discuss how to put everything together. Start to put each part together and write up summaries. |
| 3/20  | 3 PM  | Finalizing Everything | Finalizing everything. |