data collected from: https://data.worldbank.org/indicator/SP.DYN.LE00.IN

In [23]:
# Imports 
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import seaborn as sns
sns.set()
sns.set_context('talk')

import warnings
warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", 104)
import patsy
import statsmodels.api as sm
import scipy.stats as stats
from scipy.stats import ttest_ind, chisquare, normaltest
# Note: the statsmodels import may print out a 'FutureWarning'. Thats fine.

In [24]:
life_expectancy = pd.read_csv("./datasets/life_expectancy.csv")

life_expectancy.columns = life_expectancy.iloc[3]        # setting the column names correctly
life_expectancy = life_expectancy.iloc[4:]               # remove extra rows
life_expectancy = life_expectancy.reset_index(drop=True) # Reset the indices
life_expectancy = life_expectancy.dropna(axis=1, how='all')
del life_expectancy['Indicator Code']
del life_expectancy['Indicator Name']

life_expectancy.columns = life_expectancy.columns.astype(str)
life_expectancy = life_expectancy.filter(regex='^(?!19\d\d).*$').rename(columns=lambda x: str(x.split('.')[0]))

In [25]:
life_expectancy.head()

3,Country Name,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,73.569000,73.647000,73.726000,73.752000,73.576000,73.811000,74.026000,74.210000,74.147000,74.560000,75.404000,75.465000,75.531000,75.636000,75.601000,75.683000,75.617000,75.903000,76.072000,76.248000,75.723000,74.626000
1,Africa Eastern and Southern,AFE,51.964481,52.189648,52.540794,53.022035,53.545457,54.219651,55.150546,55.933802,56.680419,57.620852,58.411150,59.293271,60.050780,60.709870,61.337917,61.856458,62.444050,62.922390,63.365863,63.755678,63.313860,62.454590
2,Afghanistan,AFG,55.298000,55.798000,56.454000,57.344000,57.944000,58.361000,58.684000,59.111000,59.852000,60.364000,60.851000,61.419000,61.923000,62.417000,62.545000,62.659000,63.136000,63.016000,63.081000,63.565000,62.575000,61.982000
3,Africa Western and Central,AFW,50.221954,50.565144,50.927848,51.403356,51.819132,52.344551,52.832126,53.251712,53.641165,54.159421,54.550169,55.013138,55.340561,55.673406,55.922229,56.195872,56.581678,56.888446,57.189139,57.555796,57.226373,56.988657
4,Angola,AGO,46.024000,46.590000,47.386000,49.617000,50.592000,51.570000,52.369000,53.642000,54.633000,55.752000,56.726000,57.596000,58.623000,59.307000,60.040000,60.655000,61.092000,61.680000,62.144000,62.448000,62.261000,61.643000